@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primereact/resources/themes/lara-light-cyan/theme.css' layer(primereact);
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

.sp-wrapper {
  width: 100% !important;
  height: 100% !important;
}

.sp-layout {
  flex-wrap: nowrap !important;
  background-color: transparent !important;
  border: none !important;
}

.no-outline {
  box-shadow: none !important;
}


body {
  background-color: #f7f7f7;
  font-family: "Nunito", sans-serif;
  --font-family: "Nunito", sans-serif;
  --sp-font-family: "Nunito", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
